:root{
    --color_white: #f8f8f8;
    --color_gray:  #ddd;  
    --color_darck_blue: #0c223a;  
    --color_light_blue:#057aa2;
    --color_green: #0f9b72;
    --color_light_green: #7acaac;
    --color_yellow : #fff333;
}
.carga{ 
    text-align: center;
    margin: 10px ;
    color: var(--color_gray); 
}

.conteiner{
    display: flex; justify-content: center; flex-direction: column;
   min-height: 90vh; 
   width: 100%; padding: 0rem 0rem;
   background: linear-gradient(to right , #7acaac , #057aa2) 
}

.item{
    display: flex; flex-direction: column;
    box-sizing: border-box; 
    /* max-height: 75rem;  */
    /* height: 3rem; */
    /* max-width: 65%;  */ 
    /* height: 60rem;  */
    width: 46rem; 
    margin: 3rem auto 3rem auto; border-radius: 15px ;
    background-color: var(--color_darck_blue) ;
}
/* .item-box1{
    justify-self: flex-start; align-self: center;
    display: flex; flex-direction: column; justify-content: center; align-items: center; 
    
    min-height: 4rem;
    width: 100%;

} */
.item-box2{    
    box-sizing: border-box;
    justify-self: center; align-self: center;
    /* max-height: 50%; */
    width: 100%; margin: 0%; padding: 0%; 
    

}
.item-box2-img{
    object-fit: cover;
    object-position: center!important;
    box-sizing: border-box;
    width: 100%; margin: 0px; padding: 0px;
    border-radius: 15px 15px 0px 0px;
}
.item-box3{
    justify-self: flex-end; align-self: flex-end;

    display: flex; flex-flow: row wrap; justify-content: space-around; align-items: center;
    
    height: 6rem;
    width: 100%; padding: 0px 2rem; margin-bottom: 0px; border-radius: 0px 0px 15px 15px;
    background-color: var(--color_darck_blue);
    
}
.item-box3-btn_like{
    display: flex; justify-content: center; align-items: center;

    height: 3.9rem; width: 6.2rem; padding: 0%; margin: 0%; border: none; border-radius: 4px;

    background: var(--color_white);
    font-size: 24px;
}
.item-box3-btn_next{ 
    display: flex; justify-content: center; align-items: center;
    
    height: 3.9rem; width: 6.2rem; padding: 0%; margin: 0%; border: none; border-radius: 4px;
    /* height: 3.4rem; width: 5.4rem; padding: 0%; margin: 0%; border: none; */

    background: var(--color_green);
    font-size: 25px;
}
.item-box3-btn_next:hover ,.item-box3-btn_like:hover{
    opacity: 0.7;
}


.box-favorites-imgs{
    display: flex; flex-flow: row nowrap; justify-content: space-evenly; align-items: center;
    height: 10rem; border-radius: 5px;
    max-width: 65%; margin: 20px auto;
    background:  var(--color_darck_blue); 
    
}
.box-favorites-imgs  .img_likes{
    display: inline-block;
    box-sizing: border-box;
    height: 80%; 
    cursor: pointer;
}